.app {
  text-align: center;
}

.allcomments {
  text-align: center;
  max-height: 300px;
  margin-left: 300px;
  margin-right: 300px;
  justify-self: center;
  background-color: rgb(248, 182, 59);
  border: solid;
  overflow: auto;
  padding-left: 100px;
  padding-right: 100px;
}
.comment {
  text-align: center;
  border: solid;
  background-color: palegoldenrod;
  margin-bottom: 10px;
  padding: 10px
}
